<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="fragments/head :: head"></th:block>
    <title>T-ming</title>
</head>

<body>
    <!--Header-->
    <th:block th:replace="fragments/header :: header"></th:block>

    <!--Content-->
    <th:block layout:fragment="content"></th:block>

    <!--Footer-->
    <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>