<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/head :: headFragment">
    <title>T-ming</title>
</head>

<body>
    <!--Header-->
    <header th:replace="fragments/header :: headerFragment"></header>

    <!--Content-->
    <th:block th:replace="fragments/content :: contentFragment"></th:block>

    <!--Footer-->
    <footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>