<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
  <title>로그인</title>
  <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>

<th:block layout:fragment="content">

  <div class="text-center">

  <main class="form-signin w-100 m-auto">
    <form action="/member/login" method="post">
      <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="id" name="id" placeholder="ID">
        <label for="id">ID</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
      <p th:if="${loginFail}" th:text="${loginFail}"></p>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
    </form>
  </main>
  </div>
  <script th:src="@{/js/login.js}"></script>
</th:block>

</html>