<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="header">

<div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/main/list">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/study/list">Study</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Chat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">MyPage</a>
        </li>
    </ul>
    <br><br>
</div>

<div class="text-end">
    <th:block th:if="${session.loginId == null}">
        <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/member/login'"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">로그인</font></font></button>
        <button type="button" class="btn btn-warning" onclick="location.href='/member/joinMember'"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">가입하기</font></font></button>
    </th:block>
    <th:block th:if="${session.loginId != null}">
        <form action="/member/logout" method="post">
            <button type="submit" class="btn btn-outline-light me-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">로그아웃</font></font></button>
        </form>
    </th:block>
</div>
</html>